body{
    background-color: white;
}

h1{
    font-size: 45px;
    color: black;
    text-align: center;
    padding: 15px;
}

p{
	font-size: 20px;
}

.nav{
    background-color: silver;
}

.nav a{
    display:block;
    background-color: darkblue;
    color: white;
}

.nav a:hover{
    background-color: lightblue;
    color: blue;
}